<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <link rel="icon" type="image/png" href="/img/favicon.ico">

    <title>{{title}}</title>

    <base href="/">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>

<body>
    <myori-client-app></myori-client-app>
</body>
</html>
