<div class="container-fluid h-100">
    <div class="row h-100 align-items-center justify-content-center">
        <div class="col-3">
            <myori-login-form></myori-login-form>
        </div>
    </div>
</div>