<form role="form" [formGroup]="authForm">
    <div class="row">
        <div class="form-group col-12 mb-2">
            <label for="username">Логин:</label>
            <input id="username" type="text" class="form-control" [formControl]="authForm.controls['username']" autocomplete="username">
        </div>
        <div class="form-group col-12 mb-2">
            <label for="password">Пароль:</label>
            <input id="password" type="password" class="form-control" [formControl]="authForm.controls['password']" autocomplete="password">
        </div>
    </div>
    <div class="row">
        <div class="col-1">
            <button type="submit" class="btn btn-primary" (click)="login()">Вход</button>
        </div>
    </div>
</form>