<div class="add-action-item">
    <label>{{actionItemControl.value}}</label>
    <div class="action-but-cont">
        <button pButton type="button" icon="fas fa-times" class="action-button" (click)="actionPerformed()"></button>
    </div>
    <input type="hidden" [value]="actionItemControl.value" [formControl]="actionItemControl">
</div>