<div class="dropdown" [ngClass]="{'show': active}" role="menu">
    <a id="dropdownMenuLink" role="button" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" (click)="toggleMenu()">
        <span class="fa-user fa-user-circle"></span>
    </a>
    
    <div class="dropdown-menu dropdown-menu-right" [ngClass]="{'show': active}" aria-labelledby="dropdownMenuLink">
        <ng-content></ng-content>
    </div>
</div>