html, body, myori-client-app, myori-public-zone {
    height: 100%;
}

myori-client-app, myori-public-zone {
    display: block;
}

.header {
    z-index: 9999;
}

.footer {
    width: 100%;
    position: absolute;
    bottom: 0;
}
