<p-dialog id="editDialog" [header]="dialogTitleKey | translate" [(visible)]="showDialog" [modal]="true" [responsive]="true"
          [resizable]="false" [class.open]="showDialog" class="standart-dialog" (onHide)="onHide()" (onShow)="onShow()">
    <form role="form" (ngSubmit)="submit()">
        <div class="container-fluid">
            <ng-content></ng-content>
            <div class="row">
                <div class="col-xs-12 buttons-block">
                    <div class="button-cont">
                        <button *ngIf="type == DialogType.EDIT" type="submit" class="btn btn-default" [disabled]="!dialogForm.valid">{{'ui.buttons.save' | translate}}</button>
                        <button *ngIf="type == DialogType.EDIT" type="button" class="btn btn-default gray" (click)="showDialog = false;onHide();">{{'ui.buttons.cancel' | translate}}</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</p-dialog>