<header class="header">
    <div role="navigation" class="navbar navbar-dark bg-primary">
        <div role="navigation" class="navbar-brand">
            MyOri
        </div>

        <form class="form-inline">
            <myori-user-menu>
                <a class="dropdown-item" routerLink="/ukraine">Hosting Ukraine</a>
            </myori-user-menu>
        </form>
    </div>
</header>

<div class="container-fluid h-auto">
    <div class="row">
        <div class="col-lg-auto">
            Menu
        </div>
        <div class="col">
            Content
            <div class="col-2">
                <myori-dropdown [options]="[{label: 'item1', value: 0}, {label: 'item2', value: 1}]"></myori-dropdown>
            </div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>

<footer class="footer text-center">
    <h2>Footer</h2>
</footer>
