<div class="form-group buttons-input">
    <label class="control-label" for="phone">{{'entity.User.fields.phone' | translate}}:</label>
    <div class="control-field">
        <div class="ui-inputgroup">
            <input id="phone" class="form-control" type="text" pInputText placeholder="{{'entity.User.fields.phone' | translate}}" autocomplete="tel-national"
                   [textMask]="{mask: PHONE_MASK, keepCharPositions: true}" [formControl]="phoneControl" (blur)="validateIfNotEmpty()">
            <button pButton type="button" icon="fas fa-plus" class="action-button" (click)="addPhone()"></button>
        </div>
        <crm-error-messages [control]="phoneControl"></crm-error-messages>
    </div>
</div>

<div class="add-action-container">
	<crm-action-item *ngFor="let phone of controls" [actionItemControl]="phone" (onClick)="deleteItem($event)"></crm-action-item>
</div>
