<p-table [value]="details" [columns]="cols" [autoLayout]="true">
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns">{{col.header}}</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-details let-columns="columns">
        <tr>
            <td *ngFor="let col of columns">{{details[col.field]}}</td>
        </tr>
    </ng-template>
</p-table>