<div class="form-group">
    <label class="control-label" for="password">{{passwordLabel}}:</label>
    <div class="control-field">
        <input id="password" class="form-control" type="password" placeholder="{{passwordLabel}}" autocomplete="new-password" [formControl]="passwordCtrl"
               (blur)="onPasswordBlur()">
        <crm-error-messages [control]="passwordCtrl"></crm-error-messages>
    </div>
</div>

<div class="form-group">
    <label class="control-label" for="password-confirm">{{confirmationPasswordLabel}}:</label>
    <div class="control-field">
        <input id="password-confirm" class="form-control" type="password" placeholder="{{confirmationPasswordLabel}}"
               autocomplete="new-password" [formControl]="confirmCtrl">
        <crm-error-messages [control]="confirmCtrl"></crm-error-messages>
    </div>
</div>
